@page "/"

@using System.Reflection;
<h1>Inventory Management</h1>

<p>
    1. Add Items<br>
    2. Add Transactions<br>
    3. View Balance Sheet<br>
</p>

<h3>Application Version</h3>
<p>@Version</p>
@code{
    private string Version = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var assembly = Assembly.GetExecutingAssembly();
        var version = assembly.GetName().Version;
        Version= version.ToString();
    }
}
